[Unit]
Description=Arty Farty Cloud AI Art Downloader

[Service]
WorkingDirectory=/opt/artyfarty
ExecStart=/opt/artyfarty/venv/bin/python3 -m artyfarty
Environment=PYTHONUNBUFFERED=1
Type=oneshot

[Install]
WantedBy=default.target
